body {
    /*padding: 50px;*/
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

#container {
    /*height: 400px;*/
    /*min-width: 310px;*/
    /*max-width: 800px;*/
    padding-left: 5%;
    padding-right: 5%;
}

/*.dropdown-menu {
    width: 300px !important;
    height: 400px !important;
}*/

.chart-wrapper {
    /*float: left;*/
    /*padding-bottom: 40%;*/
    /*position: relative;*/
    /*width: 100%;*/
}


table {
    border: 1px solid grey;
}